
 <div class="login-container lightmode">

      <div class="login-box animated fadeInDown">
          <div class="login-logo"></div>
          <div class="login-body">
              <div class="login-title"><strong>Ingresa</strong> a tu cuenta</div>
              <form class="form-horizontal" id="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
              <div class="form-group">
                  <div class="col-md-12">
                      <input type="text" class="form-control" id="username" name="username" required
                      ngModel #username="ngModel" placeholder="Usuario"/>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-12">
                      <input type="password" class="form-control" id="password" name="password" required
                      ngModel #password="ngModel"  placeholder="Contraseña"/>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-6">
                      <a [routerLink]="[ './../recovery' ]" class="btn btn-link btn-block">Olvidaste tu contraseña?</a>
                  </div>
                  <div class="col-md-6">
                      <button type="submit" class="btn btn-info btn-block">Ingresar</button>
                  </div>
              </div>
              </form>
          </div>
          <div class="login-footer">
              <div class="pull-left">
                  &copy; 2017 ERP
              </div>
              <div class="pull-right">
                  <a href="#">About</a> |
                  <a href="#">Privacy</a> |
                  <a href="#">Contact Us</a>
              </div>
          </div>
      </div>

  </div>

<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:35%;">
<loaders-css [loader]="'line-scale'" [loaderClass]="'loader1'" ></loaders-css>
    </div>
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>



