/* You can add global styles to this file, and also import other style files */


.loader  div  .loader1 {
  background-color: #1caf9a !important;
  width: 20px;
  height: 100px;
}

.xn-openable{
  cursor: pointer;
}

.pagination {
  width: 50%;
}

.pull-right{
  width: 115px;
}
